<a href="https://colab.research.google.com/github/JADZO24/Python-data-analysis-challenges/blob/main/50DaysofDataAnalysiswithPythonDay6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np

list_str = ["23", "12", "90", "28", "30"]
array1 = np.array(list_str)
array1

array(['23', '12', '90', '28', '30'], dtype='<U2')

In [5]:
standard_deviation = array1.astype(np.int64).std()
standard_deviation

27.419700946582186

In [6]:
array2 = array1.astype(float)
array2

array([23., 12., 90., 28., 30.])

In [7]:
result = array2[[2, 3, 4]].sum()
result

148.0

In [26]:
rng = np.random.default_rng(seed = 42)
array3 = rng.integers(low = 0, high = 100, size=(5, 5))

min_val = array3.min()
max_val = array3.max()
mean = array3.mean()
std = array3.std()
print("Minimum value: ", min_val)
print("maximum value: ", max_val)
print("Mean: ",mean)
print("Std: ", std)

Minimum value:  8
maximum value:  97
Mean:  53.6
Std:  27.832355272236665

In [27]:
first_names = ["John", "Kenny"]
last_names = ["Smith", "Sakula"]

# Using the join function to create an array
arr = np.char.join("", [first_names, last_names])

# Using slicing to return first and second arrays
arr1 = arr[:,0]
arr2 = arr[:,1]

arr1, arr2

(array(['John', 'Smith'], dtype='<U6'),
 array(['Kenny', 'Sakula'], dtype='<U6'))